In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [23]:
# Dataframe to store all parsed data
# Populated with information from landing page on top 100 directors
df = pd.read_csv('top100_directors.csv')

In [26]:
# Headers for the HTTP request
headers = {
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/109.0.0.0 Safari/537.36',
    'From': 'pleaseletmein@gmail.com'
}

# Only parse top 3000 directors
for i in range(101, 3001, 100):
    # Update url to see every page
    url = 'https://www.the-numbers.com/box-office-star-records/worldwide/lifetime-specific-technical-role/director/' + str(i)

    # Make an HTTP request to url and store response
    response = requests.get(url, headers = headers)

    # Parse the text from the webpage as HTML
    soup = BeautifulSoup(response.text, 'html.parser')

    # Find the table element containing the data and both extract and store the data
    table = soup.find('table')

    # Read the HTML table into a data frame
    sector_data = pd.read_html(str(table), flavor = 'html5lib')[0]

    # Update dataframe from data parsed on current page
    df = pd.concat([df, sector_data])

    # Document position
    print(i)

display(df.tail())

101
201
301
401
501
601
701
801
901
1001
1101
1201
1301
1401
1501
1601
1701
1801
1901
2001
2101
2201
2301
2401
2501
2601
2701
2801
2901

    Rank             Name Worldwide Box Office  Movies      Average
95  2996     Werner Boote          $13,689,039       2   $6,844,520
96  2997      Tuck Tucker          $13,684,949       1  $13,684,949
97  2998  Tatsuyuki Nagai          $13,640,711       3   $4,546,904
98  2999   Martin Provost          $13,637,206       4   $3,409,302
99  3000         Tom Sito          $13,596,911       1  $13,596,911

In [27]:
df.to_csv('director_data.csv', index=False)